/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
  } */

  @import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
  * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 body {
   font-family: Arial, sans-serif;
   background: linear-gradient(#1D5D9B, #F4D160);
   padding: 80px;
   /* background-image: url('image.png'); 
   background-size: cover;
   background-position: center; */
   
 }
 
 .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #3876b4;
  color: white;
  padding: 5px 10%;
  transition: padding 0.3 ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}


.logo {

  align-items: center;
  text-decoration: none;
  position: fixed;
  left: 30px;
  top: 5px;

}

.logo-img {
  width: 20%;
  height: auto;
  margin-right: 10px;
}

.navbar {
  display:flex;
  flex-wrap: wrap; 
  padding-left: 20%;
  /* height: 60px; */

  
}

.navbar a {
  font-size: 24px; /* Adjust font size for smaller screens */
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 500;
  margin: 5px 15px; /* Adjust margin for smaller screens */
  transition: 0.3s;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navbar a:hover::after {
  transform: scaleX(1);
}


 .page{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 150px;
 }
 
  .wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(9px);
    color: #fff;
    border-radius: 12px;
    padding: 30px 40px;
    
  }
  .wrapper h1{
    font-size: 36px;
    text-align: center;
  }
  .wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    
    margin: 30px 0;
  }
  .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
  }
  .input-box input::placeholder{
    color: #fff;
  }
  .input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
  
  }
  .wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
  }
  .remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
  
  }
  .remember-forgot a{
    color: #fff;
    text-decoration: none;
  
  }
  .remember-forgot a:hover{
    text-decoration: underline;
  }
  .wrapper .btn{
    width: 100%;
    height: 45px;
    background: #1D5D9B;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
  }
  .wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
  
  }
  .register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  .register-link p a:hover{
    text-decoration: underline;
  }

  